.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav_items > ul {
  display: flex;

  font-size: 20px;

  list-style-type: none;
}
.nav_items > ul > li {
  padding: 10px;
  margin: 10px;
  padding: 0px 20px;
}

.res-card {
  width: 200px;
  height: 400px;
  border: 1px solid black;

  
  margin: 10px;
  display: flexbox;
  flex-direction: column;
  padding : 5px;
}
.res-card:hover {
     box-shadow: 5px 5px 15px 5px #888888; 
             /* h-offset v-offset blur spread color */ 
    cursor: pointer;

}

.search{
    padding: 10px;
}

.res-card > img{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
  margin: 30px;
  cursor: pointer;
}
